@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$menu-color: #969696;
$title-color: #394b50;
$button-color: #ffbb42;
$cards-color: #709dca;

 

body {
    font-family: 'Lato', sans-serif;
    font-size: 13px;

}

nav {
    flex: 0 0 100%;
    justify-content: space-between;
}
.menu-right {
    margin: 0 0 0 auto !important;

}

header {
    .nav-item {
        &:hover {
            border: 1px solid $button-color;
            border-radius: 4px;
            background-color: $button-color;
            
        }
    }

    .nav-link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13.5px;
        color: $menu-color;
        font-weight: 400;
        &:hover {
            color: #fff;
        }
        
    }
}

.laptop {
    text-align: center;
    background-color: #709dca;
    padding-top: 105px;
    
    .title {
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
    }
    .subtitle{
        color: #fff;
    }

    form {
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 68px;

        .request {
            background-color: $button-color;
            border-color: $button-color;
            border-radius: 4px;
            text-transform: uppercase;
            width: 210px;
            transition: ease .4s;
            &:hover {
                background-color: #fff;
                color: #ffbb42;
                border-color: #fff;
            }
            
        }

        
    }

    .carousel-indicators {
        bottom: -70px;

        li {
            border: 2px solid #709dca;
            border-radius: 50%;
            height: 10px;
            width: 10px;
        }
    }

    

    
}

.services {
    padding-top: 140px;

    .service-title {
        text-align: center;
        padding-bottom: 75px;

        .ser-title {
            text-transform: uppercase;
            font-family: Lato;
            font-weight: bold;
            font-size: 25px;
            margin-bottom: 0;
        }
        .ser-subtitle {
            font-size: 15px;
            
        }
    }

    .fa-clock, .fa-hat-wizard, .fa-rocket, .fa-dollar-sign, .fa-play-circle, .fa-user-graduate {
        font-size: 45px;
        color: #709dca;
        
    }

    .hover-block {
        padding-bottom: 60px;
        cursor: pointer;
        &:hover {
           .far,.fas {
               color: #ffbb42;
           } 
        }
    }

    .time-title {
        text-transform: uppercase;
        font-size: 16px;
        font-family: Lato, sans-serif;
        font-weight: bold;
    }

    .time-text {
        font-size: 13px;
        font-family: OpenSans, sans-serif;
        line-height: 22px;
    }
}

.about-us {
    color: #fff;
    background-color: #ffc155;
    overflow: hidden;
   .image-wrapper {
       
        
    // height: 527px;

      img {
        object-fit: fill ;
        width: 100%;
        
      }
   }

   .about-button {
       display: inline-block;
       border: 1px solid #e7ad48;
       text-decoration: none;
       color: #fff;
       text-transform: uppercase;
       padding: 10px 30px;
       border-radius: 3px;
       font-size: 14px;
       transition: .4s;
       &:hover {
        background-color: #e7ad48;
       }
   }

   .about-info {
       padding-top: 60px;
       padding-bottom: 60px;
       padding-left: 50px;
       align-self: center;
        &-block {
            width: 48%;
        }
        .about-title {
            font-size: 30px;
            text-transform: uppercase;
        }
        .about-text {
            font-size: 13px;
        }

   }
}

.cards {
    background-color: #e7edf3;
    padding-top: 125px;
    padding-bottom: 160px;
    &-title {
        text-transform: uppercase;
        font-weight: bold;
        color: #394b50;

    }
    &-subtitle {
        text-transform: uppercase;
        color: #394b50;
        margin-bottom: 50px;
    }

    .card {
        padding-top: 50px;
        padding-bottom: 45px;
        margin: 50px 0;
        transition: padding .3s ease-in-out, margin .3s ease-in-out;
        &:hover {
            margin: 0;
            padding: 100px 0 95px;
            background:#709dca;
            cursor: pointer;
            
        }
        &-title {
            font-size: 25px;
            text-transform: uppercase;
            color: #818b95;
            font-weight: 100;
        }
        &-subtitle {
            font-size: 12px;
            text-transform: uppercase;
            padding-bottom: 25px;
        }
        &-text {
            border-top: 1px solid #818b95;
            padding-top: 12px;
            color: #818b95;
            text-transform: uppercase;
            font-size: 13px;
        }
        &-link {
            display: inline-block;
            border: 1px solid #ffbb42;
            padding: 5px 15px;
            border-radius: 3px;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            background-color: #ffbb42;
            margin-top: 10px;
            transition: .4s;
            &:hover {
                border: 1px solid #ffbb42;
                background-color: #fff;
                color: #ffbb42;
            }

        }
        span {
            font-size: 40px;
            color: #ffbb42;
            font-weight: bold;
        }

        
        
    }


}

.steps {
   padding: 140px 0; 

   &-wrapper {
       .first-arrow {
           position: absolute;
           left: 220px;
       }
       .second-arrow {
           position: absolute;
           left: 500px;
           top: 70px;
       }
       .third-arrow {
           position: absolute;
           right: 220px;
       }
   }
  

   .img-wrapper {
       min-height: 100px;
   }

   .step-title {
       margin-top: 70px;
       font-size: 20px;
       text-transform: uppercase;
       color: #394b50;
   }
   .step-text {
      font-size: 13px;
        color: #394b50;
   }
}

.clients {
    background-color: #ffc155;
    padding: 100px 0;
    .clients-title {
        font-size: 40px;
        text-transform: uppercase;
        color: #fff;
    }
    .clients-subtitle {
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 60px;
    }

    .card {
        padding: 40px 30px;
        margin-bottom: 20px;
        &-note {
            font-size: 13px;
            color: #818b95;
        }
        &-author {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            color: #969696;

        }
        &-author_link {
            color: #f6772c;
            
        }
    }
}

.newsletter {
    padding: 90px 0 30px 0;

    form {
        input {
            border-radius: 3px;
            border: 1px solid #818b95;
            padding: 5px 20px;
        }
        button {
            text-decoration: none;
            border: 1px solid #ffbb42;
            background-color: #ffbb42;
            padding: 5px 20px;
            border-radius: 3px;
            text-transform: uppercase;
            color: #fff;
            transition: .4s;
            cursor: pointer;
            &:hover {
                background-color: #e7ad48;
                color: #969696;
            }
        }
    }

    
}

#map {
    margin-top: 40px;
    width: 100%;
    height: 400px;
    background-color: grey;
}

footer {
    .phone {
       font-size: 23px;
       text-decoration: none;
       color: #394b50; 
    }
    
    .fab {
        font-size: 18px;
        margin: 15px 5px;
        color: #709dca;
        &:hover {
            color: #ffbb42;
        }
    }
    .container-fluid {
        background-color: #709dca;
        position: absolute;
        left: 0;
        right: 0;

        .copy {
            padding: 10px;
            margin-bottom: 0;
            color: #fff;
            font-size: 13px;
        }
    }
}


// Breackpoints

// @media (max-width: 991.98px) { 
//     .about-us .about-info {
//         padding-top: 0;
//         padding-bottom: 0;
//     }
    
// }

// @media (max-width: 575.98px) { 
//     .about-us .about-info {
//         padding-top: 15px;
//         padding-bottom: 15px;
//     }
//  }

// @media (min-width: 767.98px) { 
//     .about-us .about-info {
//         padding-top: 15px;
//         padding-bottom: 15px;
//     }
// }
@media (max-width: 1199.98px) { 
    .first-arrow, .second-arrow, .third-arrow {
        display: none;
    }
}
@media (max-width: 991.98px) {
    .about-us .about-info {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media (max-width: 768px) { 
    .about-us .about-info {
                padding-top: 15px;
                padding-bottom: 15px;
                text-align: -webkit-center;
            }
}






